* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --header-colour: #F2542D;
    --primary-bg-colour: #E0E0CE;
    --footer-colour: #BFBF9B;
}

.full-height {
    height: 79vh;
}

.fuller-height {
    height: 100%;
    /* display: block; */
}

.header-bg {
    background-color: var(--header-colour);
}

.primary-bg {
    background-color: var(--primary-bg-colour);
}

.footer-bg {
    background-color: var(--footer-colour);
}

@media screen and (min-width: 768px) {
    .fuller-height {
        height: 79vh;
    }
}